.item {
    border: royalblue solid 1px;
    width: 97%;
    display: flex;
}

.item:last-child {
    margin-bottom: 15px;
}

.name_photo {
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    justify-content: center;
    align-items: center;
}

.message p {
    margin: 0;
    padding: 10px;
}

.name_photo img {
    width: 60px;
    height: 60px;
}