.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item img {
    width: 50px;
    height: 50px;
}

.selectedPage {
    font-weight: bold;
}

.user {
    border: solid 1px rgb(113, 208, 255);
    width: 55%;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user button {
    height: 50px;
    border-radius: 5px;
    border: solid 2px rgb(113, 208, 255);
    background-color: rgb(200, 237, 255);
    cursor: pointer;
    margin-left: 100px;
    width: 100px;
}

.info {
    width: 135px;
}