.dialogue_item {
    border: solid red 1px;
    width: 30%;
}

.item {
    border: solid black 1px;
    padding: 5px;
}

.item:hover {
    background-color: rgb(199, 236, 255);
}

.item p {
    margin: 0;
    padding: 10px;
}

.item a {
    text-decoration: none;
    color: black;
}

.item .active {
    color: green;
}