.formControl.error input,
.formControl.error textarea {
    border: red 2px solid;
}

.formControl.error span {
    color: red;
}

.formSummaryError {
    border: red 1px solid;
    padding: 5px;
    color: royalblue;
}