.formControl.error input,
.formControl.error textarea {
    border: red 2px solid;
}

.formControl.error span {
    color: red;
}

.formSummaryError {
    border: red 1px solid;
    padding: 5px;
    color: royalblue;
}

.formControl {
    width: 100%;
}

.form_item {
    width: 75%;
    height: 58%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form_item input {
    width: 100%;
    height: 30px;
    border-radius: 3px;
}

.remember {
    display: flex;
    align-items: center;
}

.rememberLable {
    margin-top: -5px;
}

.checkbox {
    width: 13px;
}