.navbar {
    background-color: #e1f5ff;
    grid-area: navbar;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: #000;
}

.item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 30px;
}

.item:not(.itemDisabled):hover {
    background-color: rgb(199, 236, 255);
}

.itemDisabled {
    background-color: lightslategray;
    padding: 0 20px;
}

.item .activeLink {
    color: green;
}

.item .navLink {
    width: 100%;
    text-align: center;
}