.profile img {
    width: 100px;
    height: 100px;
}

.info img {
    width: 15px;
    height: 15px;
    margin-left: 10px;
}

.profile {
    border: rgb(113, 208, 255) 1px solid;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}