.item {
    border: solid 1px rgb(113, 208, 255);
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 15px;
    background-color: rgb(255, 255, 255);
}

.item:last-child {
    margin-bottom: 20px;
}

.item img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

hr {
    color: rgb(113, 208, 255);
    width: 98%;
}

.message {
    display: flex;
    margin-top: 5px;
    margin-left: 5px;
}

.like {
    margin-bottom: 5px;
    margin-left: 20px;
}

.item span:hover {
    color: darkblue;
    cursor: pointer;
}