.item {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    height: 70vh;
    justify-content: center;
}

.form {
    border: solid 2px rgb(113, 208, 255);
    border-radius: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60%;
    background-color: white;
    justify-content: center;
}

.form h3 {
    margin-top: 0;
}

p {
    margin: 0;
    padding: 0;
}

label {
    display: ruby;
}

.form button {
    width: 100%;
    height: 30px;
    cursor: pointer;
    border: solid 2px rgb(113, 208, 255);
    border-radius: 3px;
    background-color: rgb(200, 237, 255);
}