.app-wrapper {
    margin: 0 auto;
    width: 1400px;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    grid-template-areas: "header header" "navbar content-full";
}

.app-wrapper-content {
    background-color: rgb(225, 245, 255);
    grid-area: content-full;
}

*::-webkit-scrollbar-button {
    background-image: url("");
    background-repeat: no-repeat;
    width: 0;
    height: 0;
}

*::-webkit-scrollbar-track {
    background-color: #32312e;
    box-shadow: 0px 0px 3px #000 inset;
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #6dc0c8 !important;
    box-shadow: 0px 1px 1px #fff inset !important;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #56999f;
}

*::-webkit-resizer {
    background-image: url("");
    background-repeat: no-repeat;
    width: 0;
    height: 0;
    background-color: #32312e !important;
}

*::-webkit-scrollbar {
    width: 5px !important;
    height: 5px !important;
}

* {
    box-sizing: border-box;
}