.app-wrapper {
    margin: 0 auto;
    width: 1400px;
    height: 100%;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    grid-template-areas: "header header" "navbar content-full";
}

.app-wrapper-content {
    background-color: rgb(225, 245, 255);
    grid-area: content-full;
}