.item {
    border: solid 1px rgb(113, 208, 255);
    width: 60%;
    margin-bottom: 10px;
    background-color: #f1f9ff;
    border-radius: 3px;
}

.item img {
    width: 100px;
}

.item:hover {
    background-color: rgb(199, 236, 255);
    ;
}